<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="container">
                <h1>Admin</h1>
                <a class="btn btn-primary add-product-btn" href="/admin/add-product">Add Product</a>

                <% if (prods.length > 0) {
                    for (let i = 0; i < prods.length; i++) {
                        const product = prods[i];
                        if (i % 3 === 0) { %>
                        <div class="row">
                        <% } %>

                            <div class="card col-sm-6 col-md-4">
                                <h1 class="card-title">
                                    <%= product.title %>
                                </h1>
                                <img class="card-img" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h2 class="product__price">$
                                            <%= product.price %>
                                        </h2>
                                        <p class="product__description">
                                            <%= product.description %>
                                        </p>
                                    </div>                                    
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-primary product-action-1">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-primary" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>

                            <%  if ((i + 1) % 3 === 0) { %>
                            </div>
                            <% }
                        }
                    } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>